@page "/weather"
@attribute [StreamRendering]

<style>
    body {
        background-color: black;
        color: white; /* Ustawienie koloru tekstu na biały, aby był czytelny na czarnym tle */
    }
</style>

<PageTitle>Weather</PageTitle>
<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-6f716590-ddae-418f-b2ea-5a53410515d5" data-elfsight-app-lazy></div>
